*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 800px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    font-size: 12px;
    font-weight: normal;
    padding: 5px 8px;
    text-transform: uppercase;
  }
}

.studentTable>* {
  display: grid;
  grid-template-columns: 15% 15% 30% 20% 20%;
}

.studentTableTitles {
  font-weight: bold;
  border-bottom: 4px solid lightslategray;

  li {
    padding: 10px;

    &:last-child {
      text-align: right;
    }
  }
}

.studentTableCol {
  padding: 10px;

  &:last-child {
    display: flex;
    gap: 6px;
    justify-content: flex-end;
    align-items: center;
  }

  button {
    font-size: 10px;
    padding: 6px 8px;
    font-weight: bold;
    border: 0;
    text-decoration: underline;
    cursor: pointer;
  }

  input {
    width: 100%;
    font-size: 12px;
    padding: 4px;
  }
}

.studentTable form:nth-child(odd) {
  background-color: aliceblue;
}

.delBtn {
  color: red;
}

.saveBtn {
  color: green;
}